/* Define CSS variables */
:root {
    --primary-color: #3498db; /* Replace with your chosen primary color */
    --secondary-color: #2ecc71; /* Replace with your chosen secondary color */
    --font-color: #333; /* Replace with your chosen font color */
  }
  
  /* Style headings and paragraphs */
  h1, h2 {
    color: var(--primary-color);
    font-family: 'Roboto', 'DM-Sans' sans-serif; /* Replace with your chosen font */
    
  }
  
  
  
  
  p {
    color: white;
    font-family: 'Roboto', 'DM-Sans' sans-serif; /* Replace with your chosen font */
    padding: 1rem;
  }
  
  /* Remove underlines from social media image links */
  a {
    text-decoration: none;
  }
  
  /* Style the hero container */
  .hero {
    position: relative;
    border: 1px solid steelblue;
    
    
    z-index: 1;
  }
  .hero img {
    display: block;
    
    width: 100%;
    height: auto;
    
  }

  
  
  
  .hero h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    border: 1px solid slategrey;
    background: black;

     
    color: white/* Adjust as needed */
    
    
  
    
    
  }
  
  .hero article {
    position: absolute;
    top: 25%; /* Adjust as needed */
    left: 2%; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust as needed */
    color: white; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
    background: rgba(0, 0, 0, 0.5);
    margin-left: 1rem;
    opacity: 0.8;
    
    
    
    
    

  }
.hero article img {
    
    
  width: 300px;
  height: 150px;
  border: 1px solid steelblue;
  padding: 10px;
  box-shadow: 0 0 30px grey;
  
  float: right;

  
  
  
  }
  
    
.hero article p {
  
  color: white;
  
  
  border: 1px solid steelblue;
    
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 1rem;
  background: orange;
  justify-content: space-evenly;
  
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
  border: 1px solid steelblue;
  margin: 0 0 1rem 1rem;
  grid-column: 1;
  
  
}



header nav {
	display: flex;
  grid-column: 2;
	 
	padding: 1rem;
	font-family: Arial, sans-serif;
  justify-content: space-between;
  border: 1px solid steelblue;
  text-align: center;
  margin: 0 0 1rem 1rem;
  align-items: center;
}

section {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  border: 40px solid steelblue;
}





section h2 {
  display: flex;
  justify-content: center;

  
}

section p {
  display: flex;
  flex-direction: column-reverse;
  color: blue;

}

section h3 {
  display: flex;
  justify-content: center;
  border: 1px solid steelblue;
}

section img {
  display: flex;
  flex-direction: column-reverse;
  
  flex-wrap: nowrap;
  
}
  



    

