/* Define CSS variables */
:root {
    --primary-color: #3498db; /* Replace with your chosen primary color */
    --secondary-color: #2ecc71; /* Replace with your chosen secondary color */
    --font-color: #333; /* Replace with your chosen font color */
  }
  
  /* Style headings and paragraphs */
  h1, h2 {
    color: var(--primary-color);
    font-family: 'Roboto', 'DM-Sans' sans-serif; /* Replace with your chosen font */
    
  }
  .hero h1{
    position: absolute;
    
    
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  
  
  p {
    color: white;
    font-family: 'Roboto', 'DM-Sans' sans-serif; /* Replace with your chosen font */
    padding: 1rem;
  }
  
  /* Remove underlines from social media image links */
  a {
    text-decoration: none;
  }
  
  /* Style the hero container */
  .hero {
    position: relative;
    
    
    z-index: 1;
  }
  .hero img {
    display: block;
    
    width: 100%;
    height: auto;
    
  }

  
  
  
  .hero h1 {
    position: absolute;
    top: 12px; /* Adjust as needed */
    right: auto; /* Adjust as needed */
    color: white; /* Adjust as needed */
    text-align: center;
    padding: 1rem;
    z-index: 1;
    
    
  }
  
  .hero article {
    position: absolute;
    top: 200px; /* Adjust as needed */
    left: 7%; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust as needed */
    color: white; /* Adjust as needed */
    padding: 1rem; /* Adjust as needed */
    background: rgba(0, 0, 0, 0.5);
    margin-left: 1rem;
    opacity: 0.8;
    
    
    
    

  }
.hero article img {
    
    
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 1px;
  box-shadow: 0 0 30px grey;
  
  float: right;
  
  
  
  }
  
    
.hero article p {
  
  color: white;
  
  
  border: 1px solid steelblue;
    
}
  



    

