:root {
    --heading-background-colour: #f06;
    --heading-text-colour: #333;
    --heading-font: 'Montserat', Helvetica, sans-serifa;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}



nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    background-color: var(--heading-background-colour);
    font-family: var(--heading-font);
    padding: var(--padding);
    
    color: var(--heading-text-colour);
}

img {
    width: 150;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--padding);
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0 , 0 , 0, 0.2);
    padding: var(--padding);
    background-color: #eee;
    color: var(--heading-text-colour);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
